/* Header container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* White background for the header */
  padding: 10px 20px; /* Adjusted padding for spacing */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for separation */
  position: sticky; /* Keeps the header at the top */
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #000000;
}

@media (max-width: 600px) {
  .header-container {
    width: 300px;
    padding: 5px 13px; /* Adjusted padding for spacing */
  }

  .header-icons {
    display: flex;
    gap: 0px; /* Space between the icons */
  }

  .header-icons img {
    font-size: 10px; /* Size of the icons */
    height: 33px;
    color: #6b6b6b; /* Grey color for the icons */
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
}

/* Title styling */
.header-title h1 {
  font-size: 24px; /* Adjust size to match the image */
  font-family: "Poppins", sans-serif;
  font-weight: 600; /* Bold styling */
  /* color: #ffffff; Black color for the text */
  margin: 0;
}

/* Icons container */
.header-icons {
  display: flex;
  gap: 20px; /* Space between the icons */
}

/* Icon styling */
.header-icons i {
  font-size: 20px; /* Size of the icons */
  color: #6b6b6b; /* Grey color for the icons */
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

/* Hover effect for icons */
.header-icons i:hover {
  color: #25c935; /* Green color on hover */
}

.header-container.light-mode {
  background-color: #ffffff; /* Dark background */
  color: #000000; /* White text */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Dark mode styles */
.header-container.dark-mode {
  background-color: #181818; /* White background */
  color: #ffffff; /* Black text */
}
