/* App layout */
.app {
  height: 100vh;
  display: flex;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode styles */
.app.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.app.dark-mode {
  background-color: #181818;
  color: #ffffff;
}

/* Sidebar styles */
.sidebar-container {
  background-color: inherit; /* Inherits from app */
  color: inherit;
}

/* Header styles */
header {
  background-color: inherit;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Content styles */
.main-container {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-container-top-right {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-container-bottom {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Card styles */
.kpi-cards {
  display: flex;
  gap: 20px;
}

.kpi-card {
  flex: 1;
  background: inherit;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
