/* Reset and global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
}

/* App layout */
.app {
  height: 100vh;
  display: flex;
}

/* Sidebar styles */
/* .sidebar {
  width: 250px;
  background: #1a1a1a;
  color: white;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
} */

/* Main container (Header and Content) */
.main {
  /* margin-left: 290px;  */
  flex-grow: 1; /* Allows the main content to expand */
  display: flex;
  flex-direction: column;
}

/* Header styles */
header {
}

/* Content below the header */
.content {
  /* flex-grow: 1; */
  padding: 20px;
  background: #f9f9f9;
}

/* Miscellaneous styles */
.kpi-cards {
  display: flex;
  gap: 20px;
}

.kpi-card {
  flex: 1;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
