/* App layout */
body {
  padding: 0;
  margin: 0;
  height: 100vw;
  width: 100vh;
}

.app {
  height: 100vh;
  display: flex;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode styles */
.app.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.app.dark-mode {
  background-color: #181818;
  color: #ffffff;
}

/* Sidebar styles */
.sidebar-container {
  background-color: inherit; /* Inherits from app */
  color: inherit;
}

/* Header styles */
header {
  background-color: inherit;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Content styles */
.main-container {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container-right {
  margin-top: 20px;
  margin-right: 37px;
}

@media (max-width: 600px) {
  .main-container-top {
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Center the child elements */
    justify-content: stretch;
    width: 300px;
  }

  .main-container-top-left {
    margin: 10px 0; /* Add spacing between sections */
    width: 100%; /* Make them take full width */
  }

  .main-container-top-right {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 15px;
    border-radius: 5px;
    /* Add spacing between sections */
    width: 300px; /* Make them take full width */
  }
}

.main-container-top-right {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-container-bottom {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Card styles */
.kpi-cards {
  display: flex;
  gap: 20px;
}

.kpi-card {
  flex: 1;
  background: inherit;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
